.row {
    display: flex;
}

.col {
    display: inline-block;
}

.w-60 {
    width: 60%;
}

.chart {
    width: 500px;
    height: 300px;
}

.refresh_button {
    color: grey;
    font-size: small;
    display: flex;
    justify-content: end;
}

.refresh_button button {
    color: black;
    margin: 0 5px;
}
