.flow-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.flow-wrapper {
    position: relative;
    width: 100%;
    max-width: 1400px;
    display: flex;
    justify-content: space-between;
    padding: 30px 10px;
    box-sizing: border-box;
}

#flow_items {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    justify-content: space-between;
    width: 100%;
    align-items: flex-end;
}

.line {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    height: 4px;
    background: black;
    transform: translateY(-50%);
    z-index: 0;
}

.mini-box {
    transform: translateY(-8px) scale(1.03);
    width: 150px;
    height: 150px;
    background: white;
    border-radius: 6px;
    box-shadow: 0 10px 20px rgba(0,0,0,.15);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 12px;
    transition: 0.2s;
    cursor: pointer;
    position: relative;
    z-index: 1;
}

.mini-box:hover {
    box-shadow: 0 10px 20px lightskyblue;
}

/* 상단 아이콘 박스 */
.mini-top {
    width: 75%; height: clamp(40px, 5vw, 60px);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: clamp(26px, 4vw, 40px);
    color: #7d1aff;
}
/* 중앙 텍스트 */
.center-text { margin-top: 10px; text-align: center; font-size: 12px; }
.count { color: red; font-weight: bold; }

