<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>완제품 목록</title>
</head>
<body>
    <div th:fragment="productsTable(products)">
        <form th:action="@{/}">
            <select name="column">
                <option value="" th:selected="${param.column eq null or param.column eq ''}">검색 조건 선택</option>
                <option value="productName" th:selected="${param.column eq 'productName'}">제품 명</option>
                <option value="serialCode" th:selected="${param.column eq 'serialCode'}">제품 코드</option>
            </select>
            <input type="text" name="search" th:value="${param.search}" />
            <label>
                제조 기한 :
                <input type="date" name="start_date" th:value="${param.start_dat}" />
            </label>
            <input type="submit" value="검색" />
        </form>
        <form th:action="@{/}">
            <select name="sort">
                <option value="productId" th:selected="${param.sort eq null or param.sort eq 'productId'}">ID</option>
                <option value="storageDate" th:selected="${param.sort eq 'storageDate'}">제조일</option>
                <option value="shelfLifeDays" th:selected="${param.sort eq 'shelfLifeDays'}">유효기한</option>
            </select>
            <input type="submit" value="정렬" />
        </form>
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>제품 코드</th>
                    <th>상품 명</th>
                    <th>제품 갯수(단위)</th>
                    <th>제조일</th>
                    <th>유효기한</th>
                </tr>
            </thead>
            <tbody>
                <tr th:if="${products.size eq 0}">
                    <td colspan="6">제조된 내역 없음</td>
                </tr>
                <th:block th:each="product : ${products}" th:if="${products.size > 0}">
                    <tr>
                        <td th:text="${product.productId}"></td>
                        <td th:text="${product.serialCode}"></td>
                        <td th:text="${product.productName}"></td>
                        <td th:text="|${product.qty}(${product.unit})|"></td>
                        <td th:text="${product.storageDate}"></td>
                        <td th:text="${product.shelfLifeDays}"></td>
                    </tr>
                </th:block>
            </tbody>
        </table>
        <div th:insert="~{pagination :: pagenation(${products.number}, ${products.totalPages}, '/')}"></div>
    </div>
</body>
</html>