<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Navbar</title>
</head>
<body>
    <div th:fragment="navbar(mainTitle, subTitle)" class="header">
        <div class="header-left">
            <div class="logo" th:onclick="|location.href='@{/dash}'|">
                <img src="/file/logo.png" alt="회사로고">
            </div>
            <div class="header-text" th:unless="${mainTitle eq '대시보드' || mainTitle eq ''}">
                <h1 th:text="${mainTitle}" th:onclick="|location.href='@{/}'|"></h1>
                <p th:text="${subTitle}" class="subtitle"></p>
            </div>
            <div class="header-nav" th:unless="${session.employee eq null}">
                <a th:with="allowPage = ${session.employee.department == '경영' and session.employee.role != '사원'}"
                   th:href="${allowPage ? '/showEmployees' : null}"
                   class="nav-btn"
                   th:classappend="(${#rootpath == '/showEmployees'} ? ' active' : '') + (${allowPage} ? ' ' : 'prevent')"
                >
                    🏢 사원 관리
                </a>
                <a th:with="allowPage = ${session.employee.department == '경영' and session.employee.role != '사원'}"
                   th:href="${allowPage ? '/order.html' : null}"
                   class="nav-btn"
                   th:classappend="(${#rootpath eq '/order' ? 'active' : ''}) + (${allowPage} ? ' ' : 'prevent')">
                    📋 완제품 발주 요청
                </a>
                <a th:with="allowPage = ${session.employee.department == '경영' and session.employee.role != '사원'}"
                   th:href="${allowPage ? '/material_request.html' : null}"
                   class="nav-btn"
                   th:classappend="(${#rootpath eq '/order' ? 'active' : ''}) + (${allowPage} ? ' ' : 'prevent')">
                    📦 원재료 발주 허가
                </a>
                <a th:with="allowPage = ${session.employee.department == '생산' and session.employee.role != '사원'}"
                   th:href="${allowPage ? '/product' : null}"
                   class="nav-btn"
                   th:classappend="(${#rootpath eq '/product' ? 'active' : ''}) + (${allowPage} ? ' ' : 'prevent')">
                    🏭 생산 관리
                </a>
            </div>
        </div>

        <div class="status-banner">
            <div class="current-time" id="currentTime"></div>
            <div class="user-status" th:if="${session.employee eq null}" th:onclick="|location.href='@{/login}'|">
                <div class="user-info-text">
                    <div class="user-name" th:text="${'로그인'}"></div>
                </div>
            </div>
            <div class="user-status" th:unless="${session.employee eq null}">
                <div class="user-avatar" id="userAvatar" th:text="${session.employee.name.substring(0, 1)}"></div>
                <div class="user-info-text">
                    <div class="user-name" id="userName" th:text="${session.employee.name.substring(1)}"></div>
                    <div class="user-role" id="userRole" th:text="${session.employee.department + '  ·  ' + session.employee.role}"></div>
                </div>
                <button class="btn btn-reject" onclick="logout()">로그아웃</button>
            </div>
        </div>
    </div>
</body>
</html>