<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>사원 로그인</title>
    <link rel="stylesheet" type="text/css" th:href="@{/style/BaseStyle.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/style/Login.css}" />
    <script type="text/javascript" th:src="@{/script/baseJS.js}"></script>
    <script type="text/javascript" th:src="@{/script/employee/employeeLogin.js}"></script>
</head>
<body>
<div class="container">
    <div th:insert="~{navbar :: navbar('', '')}"></div>
    <div class="content-wrapper">
        <div class="fragement-box w-40">
            <div class="company-logo">
                <img th:src="@{/file/logo.png}" alt="회사 로고">
            </div>
            <form id="login_form">
                <div class="form-group">
                    <label for="employee_login_email">이메일 <span class="required">*</span></label>
                    <input type="text" id="employee_login_email" placeholder="이름을 입력하세요" required>
                </div>
                <div class="form-group">
                    <label for="employee_login_pw">비밀번호 <span class="required">*</span></label>
                    <input type="password" id="employee_login_pw" name="password" placeholder="비밀번호를 입력하세요" required>
                </div>
                <button type="button" class="btn-modal btn-submit" onclick="onLoginSubmit()">로그인</button>
            </form>
        </div>
    </div>
</div>
</body>
</html>