<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.meta.stock.order.mapper.DashMapper">
    <resultMap id="parseRequestFlow" type="com.meta.stock.order.dto.DashFlowBean">
        <result property="orderRequest" column="order_request" />
        <result property="metrialRequest" column="metrial_request" />
        <result property="metrialRequestClear" column="metrial_request_clear" />
        <result property="productionReady" column="production_ready" />
        <result property="todayDelivered" column="today_delivered" />
    </resultMap>

    <select id="getRequestFlow" resultMap="parseRequestFlow">
        <![CDATA[
            select
                (select count(*) from production_request where production_start_date is null) as order_request,
                (select count(*) from material_request where approved is null or approved = 0) as metrial_request,
                (select count(*) from production_request where production_start_date is not null and end_date is null and completed_qty = 0) as metrial_request_clear,
                (select count(*) from production_request where production_start_date is not null and end_date is null and completed_qty > 0) as production,
                (select count(*) from production_request where end_date = sysdate) as today_delivered
            from dual
        ]]>
    </select>
</mapper>