<?xml version="1.0" encoding="UTF-8" ?>
<!-- mybatis 사이트에서 필요한 링크를 찾을 수 있다 -->
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.meta.stock.lots.mapper.LotsMapper">

    <resultMap id="LotStockMap" type="com.meta.stock.lots.dto.LotStockDto">
        <result property="lotId" column="lot_id"/>
        <result property="productId" column="product_id"/>
        <result property="fmId" column="fm_id"></result>
        <result property="materialName" column="material_name"></result>
        <result property="productName" column="product_name"/>
        <result property="qty" column="qty"/>
        <result property="unit" column="unit"/>
        <result property="storageDate" column="storage_date"/>
        <result property="shelfLifeDays" column="shelf_life_days"/>
        <result property="note" column="note"/>
    </resultMap>

    <!-- 특정 제품의 로트를 유통기한 빠른 순으로 조회 -->
    <select id="findLotsBySerialCodeOrderByExpiry" resultMap="LotStockMap">
        SELECT
            l.lot_id,
            p.product_id,
            p.product_name,
            l.qty,
            l.unit,
            TO_CHAR(l.storage_date, 'YYYY-MM-DD') as storage_date,
            TO_CHAR(l.shelf_life_days, 'YYYY-MM-DD') as shelf_life_days,
            l.note
        FROM Lots l
        INNER JOIN Products p ON l.lot_id = p.lots_id
        INNER JOIN Fixed_Product fp ON p.product_name = fp.name
        WHERE fp.serial_code = #{serialCode}
        AND l.qty > 0
        ORDER BY l.shelf_life_days ASC, l.storage_date ASC
    </select>

    <select id="findLotsByFmIdByExpiry" resultMap="LotStockMap">
        SELECT
        l.lot_id,
        fm.fm_id,
        m.material_name,
        l.qty,
        l.unit,
        TO_CHAR(l.storage_date, 'YYYY-MM-DD') as storage_date,
        TO_CHAR(l.shelf_life_days, 'YYYY-MM-DD') as shelf_life_days,
        l.note
        FROM Lots l
        INNER JOIN materials m ON l.lot_id = m.lots_id
        INNER JOIN Fixed_material fm ON m.material_name = fm.name
        WHERE fm.fm_id = #{fmId}
        AND l.qty > 0
        ORDER BY l.shelf_life_days ASC, l.storage_date ASC
    </select>

    <!-- 로트 재고 업데이트 -->
    <update id="updateLotQty">
        UPDATE LOTS
        SET QTY = #{qty}
        WHERE LOT_ID = #{lotId}
    </update>

    <!-- 로트 삭제 -->
    <delete id="deleteLotById">
        DELETE FROM Lots
        WHERE lot_id = #{lotId}
    </delete>

    <insert id="storeProduct">
        INSERT INTO Lots (lot_id, qty, unit, storage_date, shelf_life_days)
        VALUES (SEQ_LOTS.NEXTVAL, #{qty}, '개', SYSDATE, SYSDATE + #{lifeTime})
    </insert>

    <select id="getLatestLot">
        select lot_id from lots
        where rownum = 1
        order by lot_id desc
    </select>
</mapper>