<?xml version="1.0" encoding="UTF-8" ?>
<!-- mybatis 사이트에서 필요한 링크를 찾을 수 있다 -->
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.meta.stock.product.mapper.ProductMapper">
    <resultMap id="ProductStockMap" type="com.meta.stock.product.dto.ProductStockDto">
        <result property="productId" column="PRODUCT_ID"/>
        <result property="productName" column="PRODUCT_NAME"/>
        <result property="lotId" column="LOT_ID"/>
        <result property="qty" column="QTY"/>
        <result property="unit" column="UNIT"/>
        <result property="storageDate" column="STORAGE_DATE"/>
        <result property="shelfLifeDays" column="SHELF_LIFE_DAYS"/>
        <result property="note" column="NOTE"/>
    </resultMap>

    <!-- 전체 완제품 재고 조회 -->
    <select id="findTotalProductStock" resultMap="ProductStockMap">
        SELECT
        p.PRODUCT_NAME AS PRODUCT_NAME,
        SUM(l.QTY) AS QTY
        FROM PRODUCTS p
        JOIN LOTS l ON p.LOTS_ID = l.LOT_ID
        GROUP BY p.PRODUCT_NAME
    </select>

    <!-- 특정 제품 재고 조회 (productId로) -->
    <select id="findProductStockById" parameterType="long" resultMap="ProductStockMap">
        SELECT
        p.PRODUCT_ID,
        p.PRODUCT_NAME,
        l.LOT_ID,
        l.QTY,
        l.UNIT,
        l.STORAGE_DATE,
        l.SHELF_LIFE_DAYS,
        l.NOTE
        FROM PRODUCT p
        JOIN LOTS l ON p.LOTS_ID = l.LOT_ID
        WHERE p.PRODUCT_ID = #{productId}
        AND l.QTY > 0
    </select>

    <!-- product 별 전체 재고를 확인 -->
    <select id="getCurrentProductStock" parameterType="long" resultType="int">
        SELECT SUM(l.QTY), p.PRODUCT_NAME
        FROM PRODUCT p
        JOIN LOTS l
        ON l.LOT_ID = p.LOTS_ID
        GROUP BY p.PRODUCT_NAME
    </select>

    <select id="findAllProductStockByProduct" parameterType="long" resultMap="ProductStockMap">

    </select>

    <select id="findTotalRequiredStock" parameterType="long" resultMap="ProductStockMap">

    </select>
</mapper>